<div class="profile-header">
  <h1>About Me</h1>
</div>
<p class="profile-bio">
  Designer &amp; developer living between Boston &amp; Montreal. Given my love
  of potatoes, second breakfast, and all things cozy, I was meant to either be a
  hobbit or a moomin.
</p>
<ul class="interest-list">
  <li>☕️ fika</li>
  <li>🧶 knitting</li>
  <li>🧺 picnics</li>
  <li>🌿 nature walks</li>
</ul>
<ul class="sidebar-links">
  <li><a href="https://github.com/essieanawalt">github</a></li>
  <li><a href="#">linkedin</a></li>
  <li><a href="contact.html">contact</a></li>
</ul>
