<div class="profile-header">
    <h1>About Me</h1>
</div>
<p class="profile-bio">Designer &amp; developer living between Boston &amp; Montreal. Given my love of potatoes, second breakfast, and all things cozy, I was meant to either be a hobbit or a moomin.</p>
<ul class="interest-list">
    <li>🧶 knitting</li>
    <li>🍵 tea</li>
    <li>🌿 nature walks</li>
    <li>🧺 picnics</li>
</ul>
<ul class="sidebar-links">
    <li><a href="#">github</a></li>
    <li><a href="#">linkedin</a></li>
    <li><a href="#">contact</a></li>
</ul>
